<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastro do Avaliador</title>
</head>

<body>

    <h1>Cadastro da Revisão</h1>

    <form th:action="@{/revisao/cadastrar.html(idTrabalho=${idTrabalho})}" th:object="${revisao}" method="POST">
        <table>
            <tr>
                <td><label>Descrição: <input type="text" th:field="*{descricao}" /></label></td>
                <td><strong th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></strong></td>
            <tr>
                <td><label>Nota: <input type="number" th:field="*{nota}"/></label></td>
                <td><strong th:if="${#fields.hasErrors('nota')}" th:errors="*{nota}"></strong></td>
            </tr>
            <tr>
                <td><input type="submit"/></td>
                <td><input type="reset"/></td>
            </tr>
        </table>
    </form>
    <p><button><a th:href="@{/index.html}">Voltar</a></button></p>
</body>
</html>