<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastro da Revisão</title>
</head>

<body>

    <h1>Cadastro da Revisão</h1>

    Título do Trabalho: <span th:text="${trabalho.titulo}">...</span>
    </br>
    Descrição: <span th:text="${trabalho.descricao}">...</span>
    </br>
    <th:block th:switch="${trabalho.areaConhecimento}">
        <span th:case="'0'">Área: Exatas</span>
        <span th:case="'1'">Área: Humanas</span>
    </th>

    <br/>
    <br/>
    <br/>

    <form th:action="@{/revisao/cadastrar.html(idTrabalho=${trabalho.id})}" th:object="${revisao}" method="POST">
        <table>
            <tr>
                <td><label>Descrição: <input type="text" th:field="*{descricao}" /></label></td>
                <td><strong th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></strong></td>
            <tr>
                <td><label>Nota: <input type="number" th:field="*{nota}"/></label></td>
                <td><strong th:if="${#fields.hasErrors('nota')}" th:errors="*{nota}"></strong></td>
            </tr>
            <tr>
                <td><input type="submit" name="buttonName" value="Revisar Depois"/></td>
            </tr>
            <tr>
                <td><input type="submit" name="buttonName" value="Revisar Agora"/></td>
            </tr>
            <tr>
                <td><input type="submit" name="buttonName" value="Pular"/></td>
            </tr>
        </table>
    </form>
    <p><button><a th:href="@{/index.html}">Voltar</a></button></p>
</body>
</html>