<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trabalho 2</title>
</head>
<body>

    <h1>Trabalho 2</h1>
    <h1>Avaliador logado: <span th:text=${username}></span></h1>
    <ul>
        <li th:if="${!loggedIn}"><a th:href="@{/login.html}">Login Avaliador</a></li>
        <li th:if="${loggedIn}"><a th:href="@{/avaliador/home.html}">Página do avaliador</a></li>
        <li><a th:href="@{/avaliador/cadastro.html}">Cadastro do Avaliador</a></li>
        <li><a th:href="@{/trabalho/cadastro.html}">Cadastro de Trabalho</a></li>
        <li><a th:href="@{/avaliador/listar.html}">Listar todos os Avaliadores</a></li>
        <li><a th:href="@{/trabalho/listar.html}">Listar todos os Trabalhos</a></li>
        <li><a th:href="@{/trabalho/listar.html?area=0}">[teste] Listar todos os Trabalhos de Exatas</a></li>
        <li><a th:href="@{/trabalho/listar.html?area=1}">[teste] Listar todos os Trabalhos de Humanas</a></li>
    </ul>

</body>
</html>