<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trabalho 2</title>
</head>
<body>

    <h1>Trabalho 2</h1>
    <ul>
        <li><a th:href="@{/login.html}">Login Avaliador</a></li>
        <li><a th:href="@{/avaliador/cadastro.html}">Cadastro do Avaliador</a></li>
        <li><a th:href="@{/trabalho/cadastro.html}">Cadastro de Trabalhos</a></li>
        <li><a th:href="@{/avaliador/listar.html}">Listar todos os Avaliadores</a></li>
    </ul>

</body>
</html>