<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Trabalhos</title>
</head>

<body>

    <h1>Trabalhos registrados: </h1>

    <table border="1">
        <tr> 
            <th>Título</th>
            <th>Descrição</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr th:each="trabalho : ${trabalhos}">
            <td th:text="${trabalho.titulo}">...</td>
            <td th:text="${trabalho.descricao}">...</td>
            <td><a th:href="@{/trabalho/editar.html(id=${trabalho.id})}"><button>Editar</button></a></td>
            <td><a th:href="@{/trabalho/excluir.html(id=${trabalho.id})}"><button>Excluir</button></a></td>
        </tr>
    </table>
</body>
</html>